<div class="main" *ngIf="AlumnoRegistrado">
  <h2>Mi perfil</h2>

  <div class="mainContainer">
    <div class="mt-4">
      <hr />
      <div class="row">
        <div class="col">
          <form
            [formGroup]="detallesDelAlumnoForm"
            autocomplete="off"
          >
            <!-- DNI-->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">DNI</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  formControlName="dni"
                  readonly
                />
              </div>
            </div>

            <!-- Name -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  readonly
                  formControlName="nombre"
                />
              </div>
            </div>

            <!-- surname -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Apellidos</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  readonly
                  formControlName="apellidos"
                />
              </div>
            </div>

            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Clase</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  readonly
                  formControlName="clase"
                />
              </div>
            </div>

            <!-- phone -->
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  readonly
                  formControlName="role"
                />
              </div>
            </div>

            <!--send and back buttons-->
            <div class="row">
              <div class="col">
                <a
                  title="Volver a la lista de candidatos"
                  [routerLink]="['/home']"
                >
                  <button type="button" class="btn btn-secondary float-end">
                    Volver
                  </button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

          <!--
          

          -->
